.container{
    margin-bottom: 100px;
}
.orenge-bg{
    background-color:#fceae8 ;
    border-radius: 12px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy{
    background-image: linear-gradient(to bottom,#FF5898 0%,#FF136F);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.catagoris h1{
    color: #fff;
}
.catagoris img{
    width: 100px;
}
.eat1,.eat2,.eat3 {
    padding: 10px 30px;
}
.eat1{
    background-color: rgb(199, 238, 24);
    border-radius: 10px;
    padding: ;
    
}
.eat2{
    background-color: brown;
    border-radius: 10px;

}
.eat3{
    background-color: darkgreen;
    border-radius: 10px;
}
.card{
    border: none;
    box-shadow: 8px 8px 20px lightgray;
}
#subscribe{
    height: 300px;
}
.center{
    text-align: center;
}